/* variables */
:root {
    --dark-gray: #262d39;
    --medium-gray: #999;
    --light-gray: #EFF1F4;
    --super-light-gray: #f9f9f9;

    --primary-color: #0CF;

    --gradient-start: rgb(62, 72, 86);
    --gradient-end: rgb(92, 106, 123);

    --top-row-height: 70px;
    --left-col-width: 300px;

    --border-radius: 8px;
}

/* layout */
html {
    height: 100vh;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    background: var(--light-gray);
    grid-template-rows: var(--top-row-height) 1fr auto;
    grid-template-columns: var(--left-col-width) 1fr;
    grid-template-areas:
        "header header"
        "sidenav main"
        "footer footer";
}

header {
    grid-area: header;
    background: #FFF;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

#logo {
    width: var(--left-col-width);
    background: var(--dark-gray);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 2em;
}

#mainnav {
    display: flex;
    align-items: center;
    margin: 0 2em;
}

/* breadcrumb */
.breadcrumb {
    display: flex;
    margin: 0 3rem 0 0;
    color: var(--medium-gray);
}

.breadcrumb li::after {
    content: ">";
    margin: 0 0.5rem
}

.breadcrumb li:last-child:after {
    content: '';
}

.breadcrumb a:hover {
    color: var(--primary-color);
}

/* nav */
#sidenav {
    grid-area: sidenav;
    background: linear-gradient(180deg, var(--gradient-start) 0%, var(--gradient-start) 60%, var(--gradient-end) 100%);
    padding: 2em 0 0 0;
}

/* main */
main {
    grid-area: main;
    padding: 2em 2em;
}

/* footer */
footer {
    grid-area: footer;
    background: var(--gradient-start);
    color: #FFF;
    padding: 2em 2em 2em var(--left-col-width);
    display: flex;
    width: 100%;
}

footer div {
    width: 33%;
}

footer p {
    margin: 1.5em 0 0 0;
}

footer ul a {
    display: block;
    padding: 0.25rem 0;
}

footer ul a::before {
    content: ">";
    margin: 0 0.5em 0 0;
}

footer a:hover {
    color: var(--primary-color);
}

footer .typcn {
    font-size: 2rem;
}

/* left navigation */
#sidenav a {
    color: #FFF;
    display: block;
    padding: 1em 2em;
}

#sidenav a:hover {
    background: var(--dark-gray);
    color: var(--primary-color);
}

/* search */
form.search {
    display: flex;
    padding: 4px;
    border: 1px solid var(--medium-gray);
    border-radius: var(--border-radius);
    color: #333;
}

form.search input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 8px 12px;
    font-size: 1rem;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    height: 2rem;
}

form.search input[type="search"]::placeholder {
    color: #666;
}

form.search button[type="submit"] {
    padding: 0 1rem;
    margin: 0;
    cursor: pointer;
    border-radius: inherit;
    font-size: 1.5rem;
    color: #666;
}

form.search button[type="submit"]:hover {
    color: #FFF;
    background-color: var(--primary-color);
}

form.search input[type="search"]:focus {
    outline: none;
}

/* sections */
section {
    background: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    padding: 1em;
    margin: 0 0 1rem 0;
    border-radius: var(--border-radius);
}

section.table {
    padding: 0;
}

section.cta {
    background: var(--dark-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.cta h1,
section.cta h2 {
    color: #FFF;
}

/* buttons */
.button {
    display: flex;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 0.5em 2em;
    margin: 2em;
    align-items: center;
    border-radius: var(--border-radius);
    text-transform: uppercase;
}
.inline-button {
    display: inline;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: var(--border-radius);
    font-size: 16px;
    margin-left: 2em;
    max-width: 4.5em;
    max-height: 2em;
    text-transform: uppercase;
}

.button:hover,
.registerbutton:hover,
.inline-button:hover {
    background: var(--primary-color);
    color: #FFF;
}

.registerbutton {
    position: absolute;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 0.5em 2em 0.5em 2em;
    margin: 2em;
    width: 30%;
    /*align-items: center;*/
    border-radius: var(--border-radius);
    text-transform: uppercase;
}

/*
#circle {
    position: absolute;
  transform:translate(-50%,-50%);
  height:35px;
  width:35px;
  border-radius:5px;
  border:2px solid black;
}*/
/* typography */
h1 {
    margin: 0 0 1.25rem 0;
    font-size: 2rem;
}

h2 {
    margin: 0 0 1.25rem 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0 0 1.25rem 0;
    font-size: 1.25rem;
}

h1+h2 {
    margin-top: -0.75rem;
}

p {
    margin: 0 0 1rem 0;
    line-height: 1.5rem;
}

/* tables */
table {
    width: 100%;
}

th {
    background: var(--dark-gray);
    color: #FFF;
    padding: 0.5rem 0.5rem;
}

td {
    padding: 0.75rem 0.5rem;
}

tr:nth-child(odd) td {
    background: var(--light-gray);
}

section.table tr:first-child th:first-child {
    border-top-left-radius: var(--border-radius);
}

section.table tr:first-child th:last-child {
    border-top-right-radius: var(--border-radius);
}

section.table tr:last-child td:first-child {
    border-bottom-left-radius: var(--border-radius);
}

section.table tr:last-child td:last-child {
    border-bottom-right-radius: var(--border-radius);
}

/* forms */
form {
    border: none;
    text-align: center;
    padding-bottom: 100px;
}

/*Animation*/

.container.sign-up-mode::before {
    transform: translateX(0);
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
    transform: translateX(200%);
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
    transform: translateX(0);
}

.container.sign-up-mode form.sign-in-form {
    opacity: 0;
}

.container.sign-up-mode form.sign-up-form {
    opacity: 1;
}

.container.sign-up-mode .right-panel {
    pointer-events: none;
}

.container.sign-up-mode .left-panel {
    pointer-events: all;
}


/*Responsive*/

@media (max-width:779px) {
    .container {
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width:635px) {
    .container::before {
        display: none;
    }

    form {
        width: 80%;
    }

    form.sign-up-form {
        display: none;
    }

    .container.sign-up-mode2 form.sign-up-form {
        display: flex;
        opacity: 1;
    }

    .container.sign-up-mode2 form.sign-in-form {
        display: none;
    }

    .panels-container {
        display: none;
    }

    .account-text {
        display: initial;
        margin-top: 30px;
    }
}

@media (max-width:320px) {
    form {
        width: 90%;
    }
}

.input-container {
    background: var(--light-gray);
    border-radius: var(--border-radius);
    border: 1px solid var(--medium-gray);
    position: relative;
    width: 100%;
    padding: 0 20px;
    margin: 0 0 1rem 0;
    height: 3rem;
}
.input-container-nearly-full {
    background: var(--light-gray);
    border-radius: var(--border-radius);
    border: 1px solid var(--medium-gray);
    position: relative;
    width: 90%;
    padding: 0.5rem 20px;
    margin: 0 0 0 5%;
    height: 3rem;
}

.input-radio [type=label] {
    display: inline-block;
}
.input-filter [type=radio] {
    display: inline-block;
    width: auto;
}
#attribut,#theta,#value {
    display: inline;
    width: 15em;
    padding-top: 4px;
    border: 1px solid white;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../favicon.ico) 99% / 10% no-repeat white;
}
.input-radio[type=checkbox],
.input-radio[type=radio] {
    display: inline-block;
    width: auto;
}
.inline{
    display: inline-block;
    width: auto;
}

input {
    border: 0;
    box-sizing: border-box;
    color: var(--dark-gray);
    outline: 0;
    width: 100%;
    height: 3rem;

}

.placeholder {
    color: var(--dark-gray);
    line-height: 0.75rem;
    left: 20px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

input:focus~.placeholder,
input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-35px) translateX(-10px) scale(0.75);
}

input:not(:placeholder-shown)~.placeholder {
    color: var(--medium-gray);
}

input:focus~.placeholder {
    color: var(--dark-gray);
}

/*FILTER*/
.filterable {
    margin-top: 15px
}

.filterable .panel-heading .pull-right {
    margin-top: -20px
}

.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto
}
.form-control{
    color:white;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: rgb(255, 255, 255)
}

.filterable .filters input[disabled]::-moz-placeholder {
    color: rgb(255, 255, 255)
}

.filterable .filters input[disabled]:-ms-input-placeholder {
    color: rgb(255, 255, 255)
}